body{
    background-color: rgb(23, 177, 31);
}
 
form{
    border: 1px solid rgb(0, 0, 0);
    color: rgb(71, 29, 64);
    box-shadow: 0 0 20px black;
}
 
button{
    background-color: rgb(19, 228, 30);
    width: 60px;
    height: 30px;
    color: rgb(206, 62, 182);
    border: 1px solid black;
    font-weight: bolder;
}